language: "python"

python:
  - "3.5"

install:
  - "pip install --upgrade --editable .[dev]"
  - "npm install -g markdownlint-cli"

cache: "pip"

before_script:
    # Run linters
    - "flake8 ."
    - "prospector --strictness veryhigh"
    - "pylint src/vws"
    # Less strict linting for tests.
    - "pylint --rcfile=tests-pylintrc tests"
    - "mypy --linecoverage-report mypy src tests"
    - "markdownlint --config .markdownlint.json README.md"
    # Check for uploaded secrets
    - "dodgy"
    # Make sure that imports are sorted as expected.
    - "isort --recursive --check-only"
    - "doc8 --config doc8.ini"
    - "pydocstyle"
    # Create an environment file used by `pytest-envfiles`.
    # We don't add to this because we have environment variables set in the CI
    # config.
    - "touch vuforia_secrets.env"

script:
    - "pytest --cov=src --cov=tests"

after_success:
    - "coveralls"
