# This makes Travis CI use the container-based infrastructure which starts
# tests faster.
sudo: false

language: "python"

python:
  - "3.5"

addons:
  apt:
    packages:
    - "enchant"

before_install:
    - "pip install --upgrade pip setuptools"

install:
  - "pip install --upgrade --editable .[dev]"
  - "npm install -g markdownlint-cli"

cache: "pip"

before_script:
    # Run linters
    - "yapf --diff --parallel --recursive . | python -c \"import sys; assert 'reformatted' not in sys.stdin.read()\""
    - "flake8 ."
    - "pylint src/vws"
    - "pylint src/mock_vws"
    # Less strict linting for tests.
    - "pylint --rcfile=tests-pylintrc tests"
    - "mypy src/ tests/"
    - "markdownlint --config .markdownlint.json README.md"
    # Check for uploaded secrets
    - "dodgy"
    # Make sure that imports are sorted as expected.
    - "isort --recursive --check-only"
    - "doc8 --config doc8.ini"
    # Build documentation HTML.
    - "make -C docs clean html"
    - "pydocstyle"
    # Create an environment file used by `pytest-envfiles`.
    # We don't add to this because we have environment variables set in the CI
    # config.
    - "touch vuforia_secrets.env"

script:
    - "pytest -vvv --cov=src --cov=tests"

after_success:
    - "coveralls"
