autoflake==1.2
check-manifest==0.37
codecov==2.0.15 # Upload coverage data
doc8==0.8.0
dodgy==0.1.9  # Look for uploaded secrets
dulwich==0.19.9
flake8-commas==2.0.0  # Require silicon valley commas
flake8-quotes==1.0.0  # Require single quotes
flake8==3.6.0  # Lint
isort==4.3.4  # Lint imports
mypy==0.641  # Type checking
pip_check_reqs==2.0.3
pydocstyle==3.0.0  # Lint docstrings
pyenchant==2.0.0  # Bindings for a spellchecking sytem
pygithub==1.43.3
Pygments==2.3.0
pylint==2.2.2  # Lint
pyroma==2.4  # Packaging best practices checker
pytest-cov==2.6.0  # Measure code coverage
pytest==4.0.1  # Test runners
PyYAML==3.13
Sphinx==1.8.2
sphinx-autodoc-typehints==1.5.1
sphinxcontrib-spelling==4.2.0
twine==1.12.1
versioneer==0.18
vulture==1.0
VWS-Python-Mock==2018.12.1.0
yapf==0.25.0  # Automatic formatting for Python
