autoflake==1.2
check-manifest==0.37
codecov==2.0.15 # Upload coverage data
doc8==0.8.0
dodgy==0.1.9  # Look for uploaded secrets
dulwich==0.19.11
flake8-commas==2.0.0  # Require silicon valley commas
flake8-quotes==1.0.0  # Require single quotes
flake8==3.7.7  # Lint
isort==4.3.16  # Lint imports
mypy==0.700  # Type checking
pip_check_reqs==2.0.3
pydocstyle==3.0.0  # Lint docstrings
pyenchant==2.0.0  # Bindings for a spellchecking sytem
pygithub==1.43.6
Pygments==2.3.1
pylint==2.3.1  # Lint
pyroma==2.4  # Packaging best practices checker
pytest-cov==2.6.1  # Measure code coverage
pytest==4.4.0  # Test runners
PyYAML==5.1
Sphinx==2.0.1
sphinx-autodoc-typehints==1.6.0
sphinxcontrib-spelling==4.2.1
twine==1.13.0
versioneer==0.18
vulture==1.0
VWS-Python-Mock==2018.12.1.0
yapf==0.27.0  # Automatic formatting for Python
