constantly==15.1.0  # Symbolic constants.
pillow==4.0.0  # Image library.
requests-mock==1.2.0  # Mock `requests`.
requests==2.12.5
timeout-decorator==0.3.2  # Decorate functions to time out.
wrapt==1.10.8  # Make better decorators.
