VUFORIA_TARGET_MANAGER_DATABASE_NAME=<DATABASE_NAME>

VUFORIA_SERVER_ACCESS_KEY=<SERVER_ACCESS_KEY>
VUFORIA_SERVER_SECRET_KEY=<SERVER_SECRET_KEY>

VUFORIA_CLIENT_ACCESS_KEY=<CLIENT_ACCESS_KEY>
VUFORIA_CLIENT_SECRET_KEY=<CLIENT_SECRET_KEY>

INACTIVE_VUFORIA_TARGET_MANAGER_DATABASE_NAME=<INACTIVE_DATABASE_NAME>

INACTIVE_VUFORIA_SERVER_ACCESS_KEY=<INACTIVE_SERVER_ACCESS_KEY>
INACTIVE_VUFORIA_SERVER_SECRET_KEY=<INACTIVE_SERVER_SECRET_KEY>

INACTIVE_VUFORIA_CLIENT_ACCESS_KEY=<INACTIVE_CLIENT_ACCESS_KEY>
INACTIVE_VUFORIA_CLIENT_SECRET_KEY=<INACTIVE_CLIENT_SECRET_KEY>
