VUFORIA_TARGET_MANAGER_DATABASE_NAME=<DATABASE_NAME>
VUFORIA_SERVER_ACCESS_KEY=<ACCESS_KEY>
VUFORIA_SERVER_SECRET_KEY=<SECRET_KEY>

INACTIVE_VUFORIA_TARGET_MANAGER_DATABASE_NAME=<INACTIVE_DATABASE_NAME>
INACTIVE_VUFORIA_SERVER_ACCESS_KEY=<INACTIVE_ACCESS_KEY>
INACTIVE_VUFORIA_SERVER_SECRET_KEY=<INACTIVE_SECRET_KEY>
