black==21.9b0
PyYAML==5.4.1
Pygments==2.10.0
Sphinx-Substitution-Extensions==2020.9.30.0
Sphinx==4.2.0
VWS-Python-Mock==2021.3.27.1
VWS-Test-Fixtures==2020.9.25.1
autoflake==1.4
check-manifest==0.47
doc8==0.9.1
dodgy==0.2.1  # Look for uploaded secrets
flake8-commas==2.0.0  # Require silicon valley commas
flake8-quotes==3.3.0  # Require single quotes
flake8==3.9.2  # Lint
freezegun==1.1.0
furo==2021.9.22
isort==5.9.3  # Lint imports
mypy==0.910  # Type checking
pip_check_reqs==2.3.1
pydocstyle==6.1.1  # Lint docstrings
pyenchant==3.2.2  # Bindings for a spellchecking sytem
pygithub==1.55
pylint==2.11.1  # Lint
pyroma==3.2  # Packaging best practices checker
pytest-cov==3.0.0  # Measure code coverage
pytest==6.2.5  # Test runners
sphinx-autodoc-typehints==1.12.0
sphinxcontrib-spelling==7.2.1
twine==3.4.2
types-freezegun==1.1.0
types-requests==2.25.9
types-setuptools==57.4.0
vulture==2.3
