---

name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 1:00 every day
    - cron: 0 1 * * *

jobs:
  build:

    strategy:
      matrix:
        python-version: ['3.12']
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Lint
        run: |
          uv run --extra=dev pre-commit run --all-files --hook-stage pre-commit --verbose
          uv run --extra=dev pre-commit run --all-files --hook-stage pre-push --verbose
          uv run --extra=dev pre-commit run --all-files --hook-stage manual --verbose
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - uses: pre-commit-ci/lite-action@v1.0.3
        if: always()
