---

name: Windows CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 1:00 every day
    - cron: '0 1 * * *'

jobs:
  build:

    strategy:
      matrix:
        python-version: ["3.12"]
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install dependencies"
        run: |
          irm https://astral.sh/uv/install.ps1 | iex
          uv venv ${{ github.workspace }}/../.venv
          ${{ github.workspace }}/../.venv/Scripts/Activate.ps1
          uv pip install --upgrade --editable .[dev]

      - name: "Run tests"
        run: |
          ${{ github.workspace }}/../.venv/Scripts/Activate.ps1
          # We run tests against "." and not the tests directory as we test the README
          # and documentation.
          python -m pytest -s -vvv --cov-fail-under 100 --cov=src/ --cov=tests . --cov-report=xml
